.background-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('/TimeWise/assets/images/Time management cover 1.png');
    background-size: cover;
    z-index: -1;
  }
  
  .background-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(161, 140, 140, 0.5); /* Here, the last value (0.5) is the opacity value */
    z-index: -1;
  }
  
  .priorities {
    background-color: rgb(54, 54, 110);
  }

  .completed {
    text-decoration: line-through; /* Apply a line-through style for completed items */
    color: gray; /* Change the color for completed items */
  }
  